<div class="well">
  <h1 class="text-center">Add dealerships</h1>

  <form action="/dealerships" method="post">
    <div class="form-group">
      <label for="name">Dealership's name:</label>
      <input type="text" name="name" class="form-control">
    </div>
    <button type="submit" class="btn btn-success pull-right">Add Dealership</button>
  </form>

</div>
