<div class="jumbotron text-center">
  <h1>Welcome to Dealership Central!</h1>
  <a class="btn btn-info" href="/dealerships">See Dealership List</a>
  <a class="btn btn-success" href="/dealerships/new">Add New Dealership</a>

</div>
