<h1>Welcome to Anagram It</h1>
<form action="/anagrams" method="post">
  <div class="form-group">
    <label for="cypher">What word would you like us to find an anagram for?</label>
    <input id="cypher" name="cypher" class="form-control" type="text">
    <label for="word-list">What are words that may be anagrams? (separate words with commas)</label>
    <input id="word-list" name="word-list" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-submit">Anagram?</button>
</form>
