<div class="well">
  <h1>Sentence Analysis Tool</h1>
  <form action="/analysis">
    <div class="form-group">
      <label for="phrase">What sentence would you like to analyze?</label>
      <input id="phrase" class="form-control" type="text" name="phrase">

      <label for="word">What word would you like to count in the sentence?</label>
      <input id="word" class="form-control" type="text" name="word">

    </div>
    <div class="form-group">
      <label for="partials">Include partial results?</label>
      <input type="checkbox" name="partials" >
    </div>
    <button type="submit" class="btn btn-success">Start Analysis</button>
  </form>
</div>