<h3>McGruffin's proprietary griffins will deliver your package to any location in record time, guaranteed.</h3>

<form action="/output" id="griffin-form">
  <label>Please use the selections below to calculate a quote.</label>
  <div class="form-group package-dimensions">
    <label class="form-control-label" for="length">Parcel length in <a href="https://en.wikipedia.org/wiki/List_of_humorous_units_of_measurement#Wiffle">Wiffles</a>: </label>
    <input type="number" name="length" id="length" class="form-control">
    <label class="form-control-label" for="width">Parcel width in <a href="https://en.wikipedia.org/wiki/List_of_humorous_units_of_measurement#Wiffle">Wiffles</a>: </label>
    <input type="number" name="width" id="width" class="form-control">
    <label class="form-control-label" for="height">Parcel height in <a href="https://en.wikipedia.org/wiki/List_of_humorous_units_of_measurement#Wiffle">Wiffles</a>: </label>
    <input type="number" name="height" id="height" class="form-control">
    <label class="form-control-label" for="weight">Parcel weight in stone: </label>
    <input type="number" name="weight" id="weight" class="form-control">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="shipping-speed">Shipping speed:</label>
    <select name="shipping-speed" id="shipping-speed" class="form-control">
      <option value="standard">Standard</option>
      <option value="express">Express</option>
    </select></div>
  <div class="form-group">
    <label class="form-control-label" for="shipping-from">Pickup location:</label>
    <input type="text" class="form-control" name="shipping-from" id="shipping-from">
    <label class="form-control-label" for="shipping-to">Delivery destination: (note, our griffins do not fly over water)</label>
    <input type="text" class="form-control" name="shipping-to" id="shipping-to">
  </div>
  <div id="message"></div>
  <button type="submit" class="btn btn-success btn-lg">Calculate</button>
</form>
<p id="disclaimer">McGruffin does not take responsibility for claw-damage to parcels.</h3></p>
