.idea
Gemfile.lock

# ignore all files except the sites file
Drupal/*
!Drupal/**/sites/
sites/*.dd

#ignore node modules files
**/node_modules
**/bower_components

# Mac junk files
.DS_Store

# env files
**/.env
