<h1>Enter the phrase you would like in title case!</h1>

<form action="/title">
  <div class="form-group">
    <label for="title">Title to evaluate:</label>
    <input id="title" name="title" class="form-control" type="text">
  </div>
  <button class="btn-success btn" type="submit">Send</button>
</form>