<!-- Footer -->
<div id="footer">

  <!-- Icons -->
  <ul class="icons">
    <li><a href="https://github.com/LawlietBlack" class="icon fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="https://www.linkedin.com/in/kennethrblack/" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
    <li><a href="https://twitter.com/lawlietblack" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  </ul>

  <!-- Copyright -->
  <div class="copyright">
    <ul class="menu">
      <li>&copy; Kenneth Black. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </div>

</div>