<h1>Welcome to Scrabble Score!</h1>
<form action="/scrabble">
  <div class="form-group">
     <label for="scrabble-word">What word would you like to see the score for?
</label>
     <input id="scrabble-word" name="scrabble-word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">What's my score</button>
</form>
