<div class="container">
  <form action="/?" method="post">
    <label for="name">Enter your name</label>
    <input id="name" type="text" name="name"><br>

    <label for="phone">Enter your phone number</label>
    <input id="phone" type="text" name="phone">

    <a class='dropdown-button btn' href='#' data-activates='dropdown1'>Animal</a>

    <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">Cat</a></li>
    <li><a href="#!">Lizard</a></li>
    <li><a href="#!">Dino</a></li>
  </ul>

    <button type="submit" class=" btn btn-primary">Enter</button>
  </form>
</div>
