<h1>Find out if your rectangle is also a square!</h1>

<form action="/square">
  <div class="form-group">
    <label for="length">Length of your rectangle</label>
    <input id="length" name="length" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="width">Width of your rectangle</label>
    <input id="width" name="width" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>