/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #636;
  box-shadow: 0 1px 0 0 #000;
}

.hidden {
    display: none;
}

.city-detail {
  margin-top: 40px;
}
