
<!-- Banner -->
<section id="banner">
  <header>
    <h2>Tea Store: <em>A fake tea site made as a project by <a href="http://lawlietblack.com">Kenneth Black</a></em></h2>
    <a href="#" class="button">"Buy" Teas</a>
  </header>
</section>

<!-- Highlights -->
<section class="wrapper style1">
  <div class="container">
    <div class="row 200%">
      <section class="4u 12u(narrower)">
        <div class="box highlight">
          <i class="icon major fa-coffee"></i>
          <h3>We Sell Teas</h3>
          <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
        </div>
      </section>
      <section class="4u 12u(narrower)">
        <div class="box highlight">
          <i class="icon major fa-ban"></i>
          <h3>But Not Really</h3>
          <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
        </div>
      </section>
      <section class="4u 12u(narrower)">
        <div class="box highlight">
          <i class="icon major fa-line-chart"></i>
          <h3>Best Fake Selection</h3>
          <p>Duis neque nisi, dapibus sed mattis et quis, nibh. Sed et dapibus nisl amet mattis, sed a rutrum accumsan sed. Suspendisse eu.</p>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- Gigantic Heading -->
<section class="wrapper style2">
  <div class="container">
    <header class="major">
      <h2>Welcome to the store</h2>
      <p>Just remember we don't actually sell anything</p>
    </header>
  </div>
</section>



<!-- CTA -->
<section id="cta" class="wrapper style3">
  <div class="container">
    <header>
      <h2>And here's a call to action!</h2>
      <a href="#" class="button">"Buy" Teas</a>
    </header>
  </div>
</section>

