---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: UTF-8
      string: Body=hi&To=11111&From=18312451527
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUNjYzY4NDE1YzBhMzVkOTQwYzZlOTE2MGQ0ZTVhMmJkYzo5NjI4YzJlMmFjZWFjMjY5OGVhMWU1ZDJhNzBjZmUxYg==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.079'
      Twilio-Request-Id:
      - RQ4cd69948f7584c9ea94fb30fb4521a00
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 11111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Tue, 28 Feb 2017 16:25:20 GMT
recorded_with: VCR 3.0.3
