
<div class="clearfix text-center landing">
  <h1>Kenneth Black</h1>
  <p>Applied Physics Major, Tenacious Problem Solver, Full Stack Web Developer. </p>
  <a href='https://github.com/LawlietBlack' class="btn btn-primary"><i class="fa fa-github"></i> Github</a>
  <a href='https://www.linkedin.com/in/kennethrblack' class="btn btn-primary"><i class="fa fa-linkedin"></i> LinkedIn</a>
  <a href='https://teamtreehouse.com/kennethblack' class="btn btn-primary" ><i class="fa fa-tree"></i> Treehouse</a>
  <a href='https://twitter.com/Kenneth_R_Black' class="btn btn-primary" ><i class="fa fa-twitter"></i> Twitter</a>
  <a href='http://freecodecamp.com/lawlietblack' class="btn btn-primary"><i class="fa fa-free-code-camp"></i> FreeCodeCamp</a>

</div>
