<div id="about">
  <section id="profile">
    <div class="clearfix">
      <img src="http://lawlietblack.com/img/profile.jpg" alt="Profile Picture of Kenneth Black" class="profile-photo">
      <h1>Kenneth Black</h1>
      <p>Applied Physics Major, Tenacious Problem Solver, Full Stack Web Developer. </p>
      <p>Far from the average code school grad, by the time I finish Epicodus I will have 2 years of software development experience totaling over 4,000 hours, spanning 5+ languages and nearly a dozen web frameworks. Propelled by my passion, research skills, and technical background, I've been able to learn new languages and frameworks rapidly and with a deep understanding for interconnecting concepts. As the host of the local FreeCodeCamp meetup, I've become a mentor for new coders, and have had the opportunity to solidify my knowledge by sharing it with others.</p>
    </div>
    <a href='https://github.com/LawlietBlack' class="btn btn-primary"><i class="fa fa-github"></i> Github</a>
    <a href='https://www.linkedin.com/in/kennethrblack' class="btn btn-primary"><i class="fa fa-linkedin"></i> LinkedIn</a>
    <a href='https://teamtreehouse.com/kennethblack' class="btn btn-primary" ><i class="fa fa-tree"></i> Treehouse</a>
    <a href='https://twitter.com/Kenneth_R_Black' class="btn btn-primary" ><i class="fa fa-twitter"></i> Twitter</a>
    <a href='http://freecodecamp.com/lawlietblack' class="btn btn-primary"><i class="fa fa-free-code-camp"></i> FreeCodeCamp</a>

  </section>
</div>