<article class="panel">
  <header>
    <h1>Contacts</h1>
    <% @contacts.each do |contact| %>
      <p>
        <%= contact.name %>
      </p>
      <p>
        <%= contact.number %>
      </p>
    <% end %>


    <h4>New Contact</h4>
    <%= render 'form', contact: Contact.new %>
  </header>
</article>
