<h1>Welcome to NumberWord</h1>
<form action="/number" method="post">
  <div class="form-group">
    <label for="number">What number would you like spelled out for you?</label>
    <input id="number" name="number" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-submit">Submit</button>
</form>
