

<div id="features-wrapper">
  <section id="features" class="container">
    <header>
      <h2>Welcome to <strong>Mr. Fix-It!</strong>!</h2>
    </header>
    <div class="row">
      <div class="4u 12u(mobile)">

        <!-- Feature -->
        <section>
          <a href="#" class="image featured"><%= image_tag("plumber-image.jpg") %></a>
          <header>
            <h3>One Stop Shop</h3>
          </header>
          <p>Mr. Fix-It is the one-stop-shop to crowd-source all your home repair needs.</p>
        </section>

      </div>
      <div class="4u 12u(mobile)">

        <!-- Feature -->
        <section>
          <a href="#" class="image featured"><%= image_tag("handyperson.jpeg") %></a>
          <header>
            <h3>It's so easy!</h3>
          </header>
          <p>Need a fence repaired? Cabinets installed? Leaky pipe mended? Post the job on Mr.Fix-It.</p>
        </section>

      </div>
      <div class="4u 12u(mobile)">

        <!-- Feature -->
        <section>
          <a href="#" class="image featured"><%= image_tag("construction.jpg") %></a>
          <header>
            <h3>Let someone else do it!</h3>
          </header>
          <p>Independent handypeople, carpenters, plumbers, and more are able to view and claim jobs.</p>
        </section>

      </div>
    </div>
    <ul class="actions">
      <li><a href="#" class="button icon fa-file">Search Jobs</a></li>
    </ul>
  </section>
</div>

<!-- Banner -->
<div id="banner-wrapper">
  <div class="inner">
    <section id="banner" class="container">
      <p>It's like ride-sharing, but for home repairs!</p>
    </section>
  </div>
</div>

