<div class="card blue-grey white-text">
  <div class="card-content">
    <h4 class="center-align">(Generic welcome goes here)</h4>
  </div>
</div>
<a href="/cities" class="btn purple">Cities</a>
<a href="/trains" class="btn blue">Trains</a>
