<h3>Welcome to the Gummy Bear Kingdom!</h3>

<h4 class="purple">About Us</h4>
<p>We are a fictional kingdom of gummy bear people that sell fictional candy. </p>

<h4 class="purple">Why don't you sell gummy bears?</h4>
<p>Aren't you listening? We <strong>are</strong> gummy bear people! That would be cannibalism... or at least gummy-manslaughter</p>

<h4 class="purple">Why aren't there any images of the gummy bear people to help make this important distinction more clear?</h4>
<p>Because cartoon gummy bear image assets are surprisingly hard to find</p>