body {
  background-color: #eff;
  color: #222;
}

.card {
  color: #fff;
}

.profile {
  float: left;
  margin-right: 20px;
  margin-bottom: 2px;
}

.doctor-card {
  overflow: auto;
}

#doctors {
  margin-top: 40px;
}