<div class="card indigo white-text">
  <div class="card-content">
    <p class="indigo-text text-lighten-3">{{question.author}}</p>
    <span class="card-title">{{question.content}}</span>
    <span class="badge blue-text text-accent-1">Answers: {{question.answers.length}}</span>
  </div>
</div>