<h1>Welcome to Make Change</h1>
<form action="/change">
  <div class="form-group">
    <label for="value">Enter a number of pennies:</label>
    <input type="text" name="value" id="value">
  </div>
  <button type="submit" class="btn btn-info">Make Change</button>
</form>
