<h1>Analyze Your "Triangle"</h1>
<form action="/triangle">
  <div class="form-group">
    <label for="side-1">Side 1</label>
    <input type="text" class="form-control" name="side-1" id="side-1">
    <label for="side-2">Side 2</label>
    <input type="text" class="form-control" name="side-2" id="side-2">
    <label for="side-3">Side 3</label>
    <input type="text" class="form-control" name="side-3" id="side-3">
  </div>
  <button class="btn" type="submit">Analyze!</button>
</form>
