<div id="user-login">
  <div class="card blue-grey darken-3 white-text">
    <div class="card-content">
      <span class="card-title">Login</span>
      <form action="/auth/login" method="post">
        <p>Username: <input type="text" name="user[username]"></p>
        <p>Password: <input type="password" name="user[password]"></p>
        <button type="submit" class="btn green accent-2">Log In</button>
      </form>
    </div>
  </div>
</div>
