<div id="user-register">
  <div class="card blue-grey darken-3 white-text">
    <div class="card-content">
      <span class="card-title">Register</span>
      <form action="/auth/register" method="post">
        <p>Username: <input type="text" name="user[username]"></p>
        <p>Password: <input type="password" name="user[password]"></p>
        <p>Password: <input type="password" name="user[password-repeat]"></p>
        <button class="btn green accent-2" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>
