<div id="add-tags" class="tag-mode card blue-grey darken-3 white-text hidden">
  <div class="card-content">
    <span class="card-title white-text">Add Tags</span>
    <form action="/<%= parent_table %>/<%= object.id %>/tags" method="post">
      <div class="form-group">
        <label for="new-tags" class="white-text">Enter Tags (comma separated)</label>
        <input type="text" name="new-tags" id="new-tags">
      </div>
      <button class="btn green accent-3">Add Tags!</button>
    </form>
  </div>
</div>
