<div class="row">
  <div class="col s9">
    <h1>Your Lessons</h1>
    <% if @lessons.any? %>
      <ul>
        <% @lessons.each do |lesson| %>
          <div class="card-container col l6 m12 anchor">
            <%= erb(:_lesson_card, :locals => {:lesson => lesson}) %>
          </div>
        <%end%>
      </ul>
    <%else%>
    <p>There are no lessons. Add them with the form below</p>
    <%end%>
  </div>
</div>
<%= erb(:_lesson_form) %>
