<h1 class="title text-center">Your Report</h1>
<div class="card report-confirmation">

  <p><span class="label">Culprit Sighted</span><%= @sighted %></p>
  <p><span class="label">Sighting Description</span><%= @description %></p>
  <p><span class="label">Sighting Date</span><%= @date %></p>
</div>
<br><br>
<button class="btn btn-danger"><a href="/">Return</a></button>