<!DOCTYPE html>
<html>
<head>
  <title>Word Count</title>
  <link href="https://fonts.googleapis.com/css?family=Prociono" rel="stylesheet">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
