<div class="full-wrap">


<nav class="indigo">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">{{#link-to 'index'}}Message Board{{/link-to}}</a>
    <ul id="nav-mobile" class="right">
      <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    </ul>
  </div>
</nav>

<div class="container">
  {{outlet}}

</div>

</div>

<footer>
  <a href="https://github.com/LawlietBlack" target="_blank"><div class="social-icon git"></div></a>
  <a href="https://twitter.com/LawlietBlack" target="_blank"><div class="social-icon twitter"></div></a>
  <a href="https://teamtreehouse.com/kennethblack" target="_blank"><div class="social-icon treehouse"></div></a>
  <a href="https://www.linkedin.com/in/kennethrblack" target="_blank"><div class="social-icon linkedin"></div></a>
  <a href="http://freecodecamp.com/lawlietblack" target="_blank"><div class="social-icon fcc"></div></a>
  <p>Project by Kenneth Black</p>
</footer>