.order-form {
  max-width: 520px;
}
body {
  background-color: maroon;
  color: white;
}

#message {
  font-size: 20px;
  color: yellow
}
.receipt{
  font-size: 16px;
}
.output {
  font-weight: bold;
  color: grey;
}
form {
  margin-bottom: 30px;
}

#disclaimer {
  font-size: 10px;
}
