@import "bootstrap";

$primary: #1b5e20;


$bg-color: #191919;
$card-color: #424b4b;
$light-card-color: lighten($card-color, 10%);
$dark-card-color: darken(#424b4b, 10%);
$primary-color: #1b5e20;
$secondary-color: #465C7B;
$base-font-color: #fff;
$primary-font: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$secondary-font: 'Lato', sans-serif;
$paragraph-font: 'Questrial', sans-serif;
$light-primary-font: #15d345;
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;
$icon-size: 40px;
$base-border-radius: 3px;
$base-spacing: 1.5em;

.bg-primary, .btn-primary  {
  background-color: $primary !important;
  border-color: darken($primary, 10%);
}

.bg-secondary, .btn-secondary {
  background-color: darken($secondary-color, 10%) !important;
  border-color: darken($secondary-color, 20%);
  color: #fff;
  &:hover {
    color: #fff;
  }
}

img {
  max-width: 100%;
}

.page-header {
  margin-top: 20px;
}

.card {
  width: 340px;
  background-color: #444;
  margin: 20px;
  position: relative;
}

.card.bottom-pad {
  padding-bottom: 40px;
}

.github-btn {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
.demo-btn {
  position: absolute;
  bottom: 20px;
  left: 110px;
}

.landing {
  margin-top: 60px;
}

@mixin shadowed($n) {
  text-shadow:  $n/4 $n $n rgba(0, 0, 0, 0.6);
}

@mixin skillcolors() {
  &.skill-all {
    background: linear-gradient(darken(#1b5e20, 10%), lighten(#1b5e20, 10%)), #1b5e20;
  }
  // JavaScript Skills
  &.skill-javascript, &.skill-angularjs, &.skill-jquery, &.skill-nodejs, &.skill-express, &.skill-d3js,
  &.skill-reactjs, &.skill-ajax, &.skill-gulp, &.skill-jasmine, &.skill-keystone {
    background: linear-gradient(darken(#4E9353, 20%), #4E9353), #4E9353;
  }
  // Python Skills
  &.skill-python, &.skill-django {
    background: linear-gradient(darken(#BE6C97, 20%), #BE6C97), #BE6C97;
  }
  // Ruby Skills

  &.skill-ruby, &.skill-sinatra, &.skill-activerecord {
    background: linear-gradient(darken(#D4211C, 20%), #D4211C), #D4211C;
  }
  // Java Skills
  &.skill-java, &.skill-spring, &.skill-jersey, &.skill-hibernate, &.skill-maven, &.skill-gradle, &.skill-tomcat,
  &.skill-thymeleaf {
    background: linear-gradient(darken(#009688, 20%), #009688), #009688;
  }
  // Database Skills
  &.skill-database, &.skill-mongodb, &.skill-postgres, &.skill-sql, &.skill-h2 {
    background: linear-gradient(darken(#61487E, 20%), #61487E), #61487E;
  }
  // Development Skills
  &.skill-development, &.skill-oauth, &.skill-socketio, &.skill-restapi, &.skill-cms, &.skill-html5 {
    background: linear-gradient(darken(#4A577E, 20%), #4A577E), #4A577E;
  }
  // Design Skills
  &.skill-design, &.skill-photoshop, &.skill-css3, &.skill-bootstrap, &.skill-sass, &.skill-responsive, &.skill-bourbon,
  &.skill-materialize {
    background: linear-gradient(darken(#3C6F71 , 20%), #3C6F71 ), #3C6F71 ;
  }
}

@mixin flexy() {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.card-container {
  @include flexy;
}


html, body {
  font-family: $primary-font;
  background-color: $bg-color;
  color: $base-font-color;
  height:100%;
}
* {
  box-sizing: border-box;
}
.clearfix {
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  &:after {
    clear:both;
  }
}
h1,h2,h3,h4,h5,h6 {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration:none;
  color:#593;
  &:hover {
    text-decoration: none;
    color:#262;
  }
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

button.md-button {
  border-radius: 0;
  font-size: 16px;
  text-transform: none;
  &.content {
    padding: 0;
  }
  &.md-raised {
    color: #fff;
  }
  &.md-raised.md-primary {
    background-color: $primary-color;
  }
  &.md-raised.md-secondary {
    background-color: $secondary-color;
  }
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: $screen-small) {
    width: 750px;
  }
  @media (min-width: $screen-medium) {
    width: 970px;
  }
  @media (min-width: $screen-large) {
    width: 1170px;
  }
}
.text-center {
  text-align: center;
}
.green {
  background-color: #1B5E20;
}
%tile {
  display: inline-block;
  margin: 20px;
}
header {
  nav {
    .title-block {
      background: linear-gradient(transparent, $primary-color),
      $bg-color url('../angular1/img/code.jpg') no-repeat fixed center;
      background-size: cover;
      height: 140px;
      h1 {
        @include shadowed(8px);
        padding: 30px 0 0;
        font-size: 2.5em;
        font-weight: bold;
        text-shadow:  2px 8px 8px rgba(0, 0, 0, 0.6);
      }
      h2 {
        @include shadowed(4px);
        margin: 0 10px 20px;
        font-size: 1.25em;
        font-weight: normal;
      }
    }
    md-tabs {
      height: 48px;
      overflow: hidden;
      background-color: $primary-color;
      .md-tab {
        padding: 0;
      }
      a, a:hover {
        display: block;
        padding: 12px;
        width: 100%;
        height: 100%;
        text-align: center;
        color: #ffffff;
      }
      md-ink-bar {
        color: #ffff8d;
        background-color: #ffff8d;
      }
    }
  }
}

#skills-tags {
  .skill-tags {
    @include flexy();
    max-width: 1280px;
    margin: 10px auto 0;
    color: #fff;
    button.md-button {
      margin: 4px;
      line-height: 20px;
      min-height: 20px;
      height: 28px;
      min-width: 5em;
      padding: 0 4px;
      cursor: pointer;
      position: relative;
      @include skillcolors;
      .skill-num {
        background-color: #777;
        border-radius: 50%;
        display: inline-block;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
      }
    }
  }
}
#skills-color-key {
  @include flexy();
  background: linear-gradient($dark-card-color, $light-card-color), #424b4b;
  max-width: 1260px;
  margin: 10px auto;
  @media screen and (max-width: 1260px) {
    max-width: 800px;
    .title{
      width: 100%;
      text-align: center;
      .name {
        float: none;
      }
    }

  }
  @media screen and (max-width: 800px) {
    margin-top: 0;
  }
  .title {
    color: #4E9353;
    font-weight: bold;
  }
  .skill {
    margin: 0 8px;
  }
  .dot {
    @include skillcolors;
    float: left;
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 50%;
  }
  .name {
    float: left;
    font-size: 16px;
    margin: 3px;
  }
}


#portfolio {
  padding-top:20px;
  @include flexy();
  md-card {
    margin: 20px;
    float:left;
    background-color: $card-color;
    width: 426px;
    border-radius: 0;
    position: relative;
    img {
      width: 336px;
      height: 192px;
    }
    .card-content {
      padding: 0;
      float:left;
      .title {
        h2 {
          font-size: 1.35em;
        }
        padding:7px 0 7px 7px;
        height: 40px;
        width: 336px;
      }
    }
    .card-bottom {
      position:relative;
      min-height:170px;
      width: 426px;
      padding: 10px;
      z-index: 50;
      p {
        margin: 12px 0 0;
      }
      button {
        position: absolute;
        bottom:5px;
        &.git-btn {
          background-color: #242424;
          right:0;
        }
        &.web-btn {
          background-color: #055081;
          right: 100px;
        }
      }
    }
    .skills-bar {
      width: 90px;
      height: 232px;
      position: absolute;
      right: 0;
      top: 0;
      text-align: center;
      background-color: darken($card-color, 10%);
      li {
        @include skillcolors;
        padding:5px 0;
        height:29px;
        cursor:pointer;
      }
      .over-8 {
        position: relative;
        z-index: 100;
        cursor: pointer;
        padding: 0;
        margin: 0;
        background-color: #2a3030;
        border-radius: 0 0 50% 50%;
        height: 26px;
        span {
          font-size: 12px;
          height: 12px;
          display: block;}
        i {
          display: block;}
      }
    }
    .extras {
      position: relative;
      z-index: 100;
      display: none;
    }
    @media screen and (max-width: 1420px) {
      margin: 10px;
    }
    @media screen and (max-width: 450px) {
      width: 336px;
      .card-content h2 {
        text-align: center;
      }
      .skills-bar {
        right: 0;
        top: 232px;
        min-height: 261px;
        .over-8 {
          background-color: darken($card-color, 10%);
        }
      }
      .card-bottom {
        min-height: 261px;
        width: 246px;
        button.git-btn {
          padding: 0;
          width: 44%;
          right: 0;
        }
        button.web-btn {
          padding: 0;
          width: 44%;
          right: 121px;
        }
      }
    }
  }
}
.download {
  @include flexy();
  margin: 20px;
  button.md-button {
    height: 36px;
    width: 140px;
    padding: 0;
  }
  a {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0;
    color: #fff;
  }
}
#resume {
  font-family: $secondary-font;
  background-color: $card-color;
  max-width: 800px;
  margin: 20px auto;
  color: #eee;
  &>div {
    padding: 20px 30px;
    overflow: auto;
    border-bottom: 1px solid darken($card-color, 20%);
  }
  a {
    color: #eee;
    &:hover {
      color: $light-primary-font;}}
  p {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;}
  .resume-head {
    border-bottom: 2px solid $light-primary-font;
    .title-box {
      max-width: 600px;
      float: left;
    }
    .contact {
      max-width: 120px;
      padding: 6px 0;
      float: right;
    }
  }
  .section-title {
    float: left;
    width: 30%;
    color: $light-primary-font;
    font-style: italic;
  }
  .section-content {
    float: right;
    width: 70%;
    li {
      margin-bottom: 20px;
    }
    h4 {
      font-weight: normal;
      font-style: italic;
    }
    li p {
      margin: 6px 0 0;
      color: #ddd;
      padding-left: 10px;
    }
  }
  .skill-list li {
    margin: 0;
    width: 33%;
    float: left;
  }
  @media screen and (max-width: 700px) {
    .resume-head {
      text-align: center;
      padding-bottom: 4px;
      .contact {
        clear: both;
        max-width: 100%;
        width: 100%;
        float: none;
        margin: 0;
        p {
          width: 33%;
          float: left;
        }
      }
    }
    .section-title, .section-content, .title-box {
      width: 100%;
      float: none;
      margin: 0 auto 10px;
    }
  }
  @media screen and (max-width: 500px) {
    .resume-head .contact p {
      width: 100%;
      float: none;
    }
  }
}
#logs {
  margin: 20px auto;
  width: 95%;
  max-width: 600px;
  .title {
    text-align: center;
  }
  .log {
    border-bottom: 1px solid transparentize($base-font-color, 0.9);
    display: table;
    margin-bottom: $base-spacing;
    padding-bottom: 1em;
    width: 100%;

    .log-content {
      width: 100%;

      h1 {
        font-size: 1em;
        margin: 0 0 0.5em 0;}

      p {
        line-height: 1.5em;
        margin-bottom: 0.5em;}

      p.log-detail {
        color: transparentize($base-font-color, 0.5);
        font-size: 0.9em;
        font-style: italic;}
    }
  }
}
#about {
  margin: 40px auto 0;
  section {
    min-height: 240px;
    padding: 40px 0;
    h1 {
      color: #ccc;
    }
  }
  #profile {
    color: #ccc;
    margin:40px auto 0;
    max-width:800px;
    text-align: center;
    .profile-photo {
      border-radius: 50%;
      height:140px;
      width:140px;
    }
    h1 {
      font-size: 2em;
      color: #34ad3c;
    }
    p {
      font-size: 1.2em;
    }
  }
  #education {
    ul {
      @include flexy();
      color: #ddd;
      max-width: 1300px;
      margin: auto;
      text-align: center;
      font-size: 1.4em;
      li {
        @extend %tile;
        width: 260px;
        h2 {
          font-size: 1.3em;
        }
        p {
          margin: 0;
        }
      }
    }
  }

  #questions {
    width: 95%;
    margin: 20px auto;
    max-width: 1200px;
    h1 {
      text-align: center;
      margin: 20px;}
    h2 {
      font-size: 1.4em;
      font-family: 'Lusitana', serif;
    }
    h4 {
      color: #ddd;
      margin: 20px 0 0;
      font-family: 'Merriweather', serif;
    }
    p {
      font-family: $paragraph-font;
      color: #ccc;
      margin: 0 0 14px 24px;
      line-height: 1.4em;
    }
    .half {
      width: 46%;
      margin: 0 2%;
      &.left {
        float: left;}
      &.right {
        float: right;}
      @media screen and (max-width: $screen-small) {
        width: inherit;
        margin: 20px;
        &.left, &.right {
          float: none;
        }
      }
    }
  }
  #enjoys {
    ul {
      @include flexy();
      color: #ddd;
      li {
        @extend %tile;
      }
    }
  }
}
#code {
  width: 95%;
  max-width: 1000px;
  margin: 20px auto;
  .snippet {
    margin: 20px auto;
    pre {
      margin: 10px;
      padding: 10px;
      background-color: lighten($bg-color, 5%);
    }
  }

  .skill {
    @include skillcolors;
    padding: 3px 6px;
    margin-right: 10px;
  }
  p {
    margin: 10px 0 4px 20px;
  }
  pre {
    white-space: pre-wrap;
  }
}

footer {
  clear: both;
  font-size: 0.75em;
  padding-top: 50px;
  text-align: center;
  .social-icon {
    height: $icon-size;
    width: $icon-size;
    border-radius: 50%;
    margin-right:10px;
    display: inline-block;
    background: url(../angular1/img/sprites.png) no-repeat;
    background-size: 200px 40px;
    &.git {
      background-position: 0 0;
    }
    &.twitter {
      background-position: -40px 0;
    }
    &.treehouse {
      background-position: -80px 0;
    }
    &.linkedin {
      background-position: -120px 0;
    }
    &.fcc {
      background-position: -160px 0;
    }
  }
}

#career-link {
  max-width: 800px;
  width: 95%;
  margin: 20px auto;
  .card {
    margin: 40px auto 80px;
    background-color: #333;
    padding: 10px 40px 20px;
  }
  p, li {
    font-size: 2em;
  }
  h1 {
    text-align: center;
    font-size: 4em;
  }
  h3 {
    font-size: 3em;
    color: #1B5E20;
    margin: 20px 0 20px;
    text-align: center;
  }
  h4 {
    text-align: center;
    font-size: 3.5em;
  }
}