<h1>Hello From Australia</h1>
<p>Dear <%= @recipient %>,</p>
<p>How are you doing? I have been having the best time exploring the rainforests of Australia.</p>
<p>Tomorrow I am planning on snorkeling at the Great Barrier Reef!</p>
<p>I have brought my coding practice with me, so I don't forget all that I have learned so far.</p>
<p><%= @recipient %>, you would not believe how beautiful it is here. You should come with me next time.</p>
<p>I can't wait to move here and write code on the beach! </p>
<p>Looking forward to seeing you soon. I'll bring you back a souvenir. </p>
<p>Cheers,</p>
<p>Code and Travel Enthusiast <%= @sender %></p>