<h1>Welcome to Title Case</h1>
<form action="/swapit">
  <div class="form-group">

     <label for="phrase">Enter a phrase</label>
     <input id="phrase" name="phrase" class="form-control" type="text">

     <label for="target">Enter the word you want replaced</label>
     <input id="target" name="target" class="form-control" type="text">

     <label for="substitute">Enter a word you want to replace it with</label>
     <input id="substitute" name="substitute" class="form-control" type="text">

  </div>
  <button type="submit" class="btn-success">Swap my words!</button>
</form>
